.card-cart {
	height: 75vh;
	overflow-y: auto;
}

.card-contacts {
	height: 75vh;
}

.button-close {
	margin-left: auto;
	position: absolute;
	right: 1%;
}

@media (max-width: 576px) {
	.card-contacts {
		height: auto;
	}
}
