.card-shop {
	height: 75vh;
	overflow-y: auto;
}

.card-goods {
	height: 75vh;
	overflow-y: auto;
}
.card-goods div {
	max-height: 40vh;
}

@media (max-width: 576px) {
	.card-shop {
		border: none;
	}
}
